/* Start of General CSS */
:root {
    --white-bg: #fff;
    --text-main: #1f1f1f;
    --text-hover: #787878;
}

@font-face {
    font-family: Poppins;
    src: url(./../fonts/Poppins/Poppins-Regular.ttf);
}

@font-face {
    font-family: "Source Sans Pro";
    src: url(./../fonts/Source_Code_Pro/static/SourceCodePro-Regular.ttf);
}

main {
    background-color: var(--white-bg);
}

section:not(.contact) h2[data-bigletter]::before {
    z-index: 0;
    content: attr(data-bigletter);
    font-size: 60px;
    font-weight: 600;
    opacity: 0.1;
    position: absolute;
    right: 50%;
    transform: translate(50%, -20%);
    -webkit-transform: translate(50%, -20%);
    -moz-transform: translate(50%, -20%);
    -ms-transform: translate(50%, -20%);
    -o-transform: translate(50%, -20%);
}

/* Start of Navbar */
.navbar {
    --bs-navbar-toggler-border-color: transparent;
    --bs-navbar-toggler-focus-width: 0;
    --bs-navbar-brand-padding-y: 0;
    --bs-navbar-padding-y: 0;
    background-color: var(--white-bg);
    --bs-navbar-toggler-padding-y: 0;
    --bs-navbar-active-color: var(--text-hover);
    --bs-navbar-hover-color: var(--text-hover);
    --bs-navbar-color: #393939;
    border-bottom: #dee2e6 solid 1px;
}

.navbar ul li a {
    font-family: Poppins, sans-serif;
    font-size: 13px;
    padding: 15px 7px;
}

.navbar-nav {
    border-top: #dee2e6 solid 1px;
}

nav .logo {
    height: 50px;
    display: table;
}

nav .logo img {
    max-height: 40px;
}

.navbar .logo>a {
    vertical-align: middle;
}

.navbar-toggler {
    --bs-navbar-toggler-border-radius: 0;
    border-left: solid #dee2e6 1px;
    --bs-navbar-toggler-padding-y: 0.9rem;
}

.nav-social-container {
    display: none;
}

.nav-social {
    --bs-nav-link-padding-x: 0;
    --bs-nav-link-padding-y: 20px;
}

.nav-social a {
    color: var(--white-bg);
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

.navbar .nav-social a:hover {
    color: var(--text-hover);
}

.nav-social a .nav-link {
    font-size: 0.8rem;
}

.navBtnn {
    transition: transform 0.5s ease;
    -webkit-transition: transform 0.5s ease;
    -moz-transition: transform 0.5s ease;
    -ms-transition: transform 0.5s ease;
    -o-transition: transform 0.5s ease;
}

.navBtnn-box {
    width: 22px;
    height: 24px;
}

.navBtnn-inner {
    background-color: var(--text-main);
    width: 22px;
    height: 2px;
    border-radius: 4px;
    position: absolute;
    top: 50%;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}

.navBtnn-inner::before {
    content: "";
    background-color: var(--text-main);
    display: block;
    height: 2px;
    width: 22px;
    border-radius: 4px;
    position: absolute;
    top: -6px;
    transition: transform 0.5s ease, top 0.5s ease, bottom 0.5s ease;
    -webkit-transition: transform 0.5s ease, top 0.5s ease, bottom 0.5s ease;
    -moz-transition: transform 0.5s ease, top 0.5s ease, bottom 0.5s ease;
    -ms-transition: transform 0.5s ease, top 0.5s ease, bottom 0.5s ease;
    -o-transition: transform 0.5s ease, top 0.5s ease, bottom 0.5s ease;
}

.navBtnn-inner::after {
    content: "";
    background-color: var(--text-main);
    display: block;
    border-radius: 4px;
    width: 22px;
    height: 2px;
    position: absolute;
    bottom: -6px;
    transition: transform 0.5s ease, top 0.5s ease, bottom 0.5s ease;
    -webkit-transition: transform 0.5s ease, top 0.5s ease, bottom 0.5s ease;
    -moz-transition: transform 0.5s ease, top 0.5s ease, bottom 0.5s ease;
    -ms-transition: transform 0.5s ease, top 0.5s ease, bottom 0.5s ease;
    -o-transition: transform 0.5s ease, top 0.5s ease, bottom 0.5s ease;
}

.navBtnn.active {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}

.navBtnn.active .navBtnn-inner {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}

.navBtnn.active .navBtnn-inner::before {
    background-color: transparent;
    top: 0;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
}

.navBtnn.active .navBtnn-inner::after {
    bottom: 0;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
}

.navbar.scrolled {
    background-color: var(--white-bg);
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    --bs-navbar-color: #393939;
}

.navbar .nav-social a.scrolled {
    color: #393939;
}

/* End of Navbar */

/* Start of Header */
.header-first {
    background: linear-gradient(rgba(33, 29, 29, 0.528) 0% 100%), url(./../images/bg-image-28.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.header-second {
    background: linear-gradient(rgba(33, 29, 29, 0.528) 0% 100%), url(./../images/bg-image-29.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.header .inner-header {
    font-family: Poppins, sans-serif;
    color: var(--white-bg);
    width: 100%;
    height: 100%;
}

.header h1 {
    font-size: 62px;
    line-height: 77.5px;
    letter-spacing: -3px;
    margin: 20px 0 10px;
}

.header p {
    font-size: 16px;
    line-height: 20.8px;
    margin: 10px 0;
}

a.btn-header-read {
    --bs-btn-padding-x: 30px;
    --bs-btn-padding-y: 0;
    --bs-btn-font-family: Poppins, sans-serif;
    --bs-btn-font-size: 14px;
    --bs-btn-font-weight: 600;
    --bs-btn-line-height: 50px;
    --bs-btn-color: var(--white-bg);
    --bs-btn-bg: #00d5ee;
    letter-spacing: -0.56px;
    transition: transform .15s ease-in-out;
    -webkit-transition: transform .15s ease-in-out;
    -moz-transition: transform .15s ease-in-out;
    -ms-transition: transform .15s ease-in-out;
    -o-transition: transform .15s ease-in-out;
    --bs-btn-hover-color: var(--white-bg);
    position: relative;
    overflow: hidden;
}

a.btn-header-read::before {
    content: "";
    width: 6%;
    height: 100%;
    background: #ffffff9e;
    box-shadow: 0 0 2rem 1.5rem #ffffff9e;
    position: absolute;
    top: 0;
    right: 180%;
    transform: skewX(-25deg);
    -webkit-transform: skewX(-25deg);
    -moz-transform: skewX(-25deg);
    -ms-transform: skewX(-25deg);
    -o-transform: skewX(-25deg);
    transition: transform 0.7s ease;
    -webkit-transition: transform 0.7s ease;
    -moz-transition: transform 0.7s ease;
    -ms-transition: transform 0.7s ease;
    -o-transition: transform 0.7s ease;
}

.btn-header-read:hover {
    background-color: #00d5ee;
    transform: translateY(-3px);
    -webkit-transform: translateY(-3px);
    -moz-transform: translateY(-3px);
    -ms-transform: translateY(-3px);
    -o-transform: translateY(-3px);
}

.btn-header-read:hover:before {
    transform: translateX(320px) skewX(-25deg);
    -webkit-transform: translateX(320px) skewX(-25deg);
    -moz-transform: translateX(320px) skewX(-25deg);
    -ms-transform: translateX(320px) skewX(-25deg);
    -o-transform: translateX(320px) skewX(-25deg);
}

.header a.btn-header-contact {
    --bs-btn-padding-x: 38px;
    --bs-btn-padding-y: 0;
    --bs-btn-border-color: var(--white-bg);
    --bs-btn-color: var(--white-bg);
    --bs-btn-bg: transparent;
    --bs-btn-font-family: Poppins, sans-serif;
    --bs-btn-font-size: 14px;
    --bs-btn-font-weight: 600;
    --bs-btn-line-height: 50px;
    letter-spacing: -0.56px;
    transition: all .15s ease-in-out;
    -webkit-transition: all .15s ease-in-out;
    -moz-transition: all .15s ease-in-out;
    -ms-transition: all .15s ease-in-out;
    -o-transition: all .15s ease-in-out;
}

.header .btn-header-contact:hover {
    background-color: var(--white-bg);
    color: #000;
    transform: translateY(-3px);
    -webkit-transform: translateY(-3px);
    -moz-transform: translateY(-3px);
    -ms-transform: translateY(-3px);
    -o-transform: translateY(-3px);
}

.header .left-right button {
    background-color: transparent !important;
    border: var(--white-bg) 2px solid;
    padding: 0 10px;
    position: relative;
    color: var(--white-bg);
    z-index: 2;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}

.header .left-right button::before {
    content: "";
    width: 250%;
    height: 100%;
    position: absolute;
    background-color: var(--white-bg);
    transform: translateX(-200%);
    -webkit-transform: translateX(-200%);
    -moz-transform: translateX(-200%);
    -ms-transform: translateX(-200%);
    -o-transform: translateX(-200%);
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}

.header .left-right button:hover::before {
    transform: translateX(-30%);
    -webkit-transform: translateX(-30%);
    -moz-transform: translateX(-30%);
    -ms-transform: translateX(-30%);
    -o-transform: translateX(-30%);
}

.header .left-right button:hover {
    color: #000;
}

/* End of Header */

/* Start of About */
.about {
    color: var(--text-hover);
    font-family: "Source Sans Pro", sans-serif;
    border-bottom: #dedede 1px solid;
}

.about h2 {
    color: var(--text-main);
    font-family: Poppins, sans-serif;
    font-size: 13px;
    line-height: 16.9px;
    letter-spacing: 0.65px;
    margin: 0 0 10px;
}

.about p {
    line-height: 30px;
    margin: 20px 0;
}

.about p span {
    color: #00C3DA;
}

.about p span::after {
    content: "|";
    color: var(--text-hover);
}

.about a.btn-about {
    letter-spacing: 0.55px;
    --bs-btn-padding-x: 30px;
    --bs-btn-padding-y: 0;
    --bs-btn-font-family: Poppins, sans-serif;
    --bs-btn-font-size: 11px;
    --bs-btn-font-weight: 500;
    --bs-btn-line-height: 48px;
    --bs-btn-color: var(--text-main);
    --bs-btn-bg: var(--white-bg);
    --bs-btn-border-width: 1px;
    --bs-btn-border-color: #dedede;
    --bs-btn-border-radius: 0;
    --bs-btn-hover-color: var(--white-bg);
    --bs-btn-hover-bg: var(--text-main);
    --bs-btn-hover-border-color: var(--text-main);
}

/* End of About */

/* Start of Team */
.team {
    color: var(--text-hover);
    font-family: "Source Sans Pro", sans-serif;
}

.team h2 {
    color: var(--text-main);
    font-family: Poppins, sans-serif;
    font-size: 32px;
    line-height: 41.6px;
    letter-spacing: -1px;
    margin: 20px 0 10px;
}

.team h3 {
    font-size: 18px;
    line-height: 23.4px;
    margin: 10px 0;
}

.team .team-bottom h4 {
    font-family: Poppins, sans-serif;
    font-size: 13px;
    line-height: 16.9px;
    letter-spacing: 0.52px;
}

.team .team-bottom h5 {
    font-family: Poppins, sans-serif;
    font-size: 12px;
    line-height: 18px;
}

.team .team-overlay {
    background-color: #00d6eee1;
    opacity: 0;
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transform: translateY(10px);
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    -ms-transform: translateY(10px);
    -o-transform: translateY(10px);
}

.team .image-card:hover .team-overlay {
    opacity: 1;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
}

.team .nav-social a:hover {
    text-shadow: var(--white-bg) 0 0 6px;
}

/* End of Team */

/* Start of Services */
.service {
    background-color: #626262;
    font-family: "Source Sans Pro", sans-serif;
}

.service span {
    font-family: Poppins, sans-serif;
    font-size: 13px;
    line-height: 16.9px;
    letter-spacing: 1.3px;
    margin-top: 26px;
    margin-bottom: 26px;
    padding: 0 10px;
}

.service h2 {
    font-family: Poppins, sans-serif;
    font-size: 32px;
    line-height: 41.6px;
    letter-spacing: -1px;
    margin: 20px 0 10px;
}

.service p {
    font-size: 14px;
    margin: 20px 0 30px;
}

.service li {
    padding: 6px 0;
}

.service ul li::before {
    content: "\f058";
    font-family: 'Font Awesome 6 Free';
    font-style: normal;
    font-weight: 100;
    margin-right: 10px;
}

/* End of Services */

/* Start of Pricing */
.pricing {
    color: var(--text-hover);
    font-family: "Source Sans Pro", sans-serif;
    background-color: #F7F7F7;
}

.pricing h2 {
    color: var(--text-main);
    font-family: Poppins, sans-serif;
    font-size: 32px;
    line-height: 41.6px;
    letter-spacing: -1px;
    margin: 20px 0 10px;
}

.pricing h3 {
    font-size: 18px;
    line-height: 23.4px;
    margin: 10px 0;
}

.pricing .card {
    --bs-card-border-color: transparent;
    --bs-card-border-radius: 0;
    --bs-card-bg: var(--white-bg);
    background-color: var(--white-bg);
    max-width: 400px;
    margin: 50px auto 25px;
    padding: 25px 15px;
    background-color: var(--white-bg);
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.115);
}

.pricing .card h4 {
    color: var(--text-main);
    font-family: Poppins, sans-serif;
    font-size: 13px;
    line-height: 16.9px;
}

.pricing .badge-best {
    --bs-badge-font-size: 9px;
    --bs-badge-font-weight: 700;
    --bs-badge-padding-y: 5px;
    --bs-badge-padding-x: 10px;
    font-family: Poppins, sans-serif;
    line-height: 13.5px;
    background-color: #00C3DA;
    position: absolute;
    top: 30px;
    right: 30px;
}

.pricing .card p {
    color: var(--text-main);
    font-family: Poppins, sans-serif;
    font-size: 55px;
    line-height: 71.5px;
    letter-spacing: -3px;
    font-weight: 500;
    border-bottom: #dee2e6 1px solid;
    padding: 15px 0;
}

.pricing .col-12:nth-child(3) p {
    color: #00C3DA;
}

.pricing .card p span {
    font-family: Poppins, sans-serif;
    font-size: 18px;
    line-height: 23.4px;
    letter-spacing: -3px;
    vertical-align: top;
}

.pricing .card ul {
    color: var(--text-hover);
    padding-top: 15px;
}

.pricing .card .btn-pricing {
    --bs-btn-padding-x: 13px;
    font-size: 12px;
}

/* End of Pricing */

/* Star of Work */
.work {
    color: var(--text-hover);
    background-color: #F7F7F7;
    font-family: "Source Sans Pro", sans-serif;
}

.work-img img {
    width: 100px;
}

.work-box {
    background-color: var(--white-bg);
    color: var(--text-hover);
    margin: 50px 0;
    position: relative;
}

.work-img {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50% -50%);
    -webkit-transform: translate(-50% -50%);
    -moz-transform: translate(-50% -50%);
    -ms-transform: translate(-50% -50%);
    -o-transform: translate(-50% -50%);
}

.work h2 {
    color: var(--text-main);
    font-family: Poppins, sans-serif;
    font-size: 13px;
    line-height: 16.9px;
    letter-spacing: 0.65px;
}

.work h3 {
    color: var(--text-main);
    font-family: Poppins, sans-serif;
    line-height: 31.2px;
    letter-spacing: -0.72px;
    margin: 25px 0 10px;
}

.work span {
    color: var(--text-hover);
    font-family: Poppins, sans-serif;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.36px;
}

.work p {
    color: var(--text-hover);
    font-family: "Source Sans Pro", sans-serif;
    font-size: 15px;
    line-height: 27px;
}

.work .carousel-indicators [data-bs-target] {
    width: 10px;
    height: 10px;
    background-color: var(--text-hover);
}

.work .carousel-indicators .active {
    background-color: #00BFD8;
}

.work .carousel-control-next,
.work .carousel-control-prev {
    width: 5%;
    color: var(--text-hover);
}

/* End of Work */

/* Start of Contact */
iframe {
    height: 400px;
}

.contact h2 {
    color: var(--text-main);
    font-family: Poppins, sans-serif;
    font-size: 32px;
    line-height: 41.6px;
    letter-spacing: -1px;
    margin: 20px 0 10px;
}

.contact h2[data-bigletter]::before {
    z-index: 0;
    content: attr(data-bigletter);
    font-size: 60px;
    font-weight: 600;
    opacity: 0.1;
    position: absolute;
    left: 0;
    transform: translate(-10%, -20%);
    -webkit-transform: translate(-10%, -20%);
    -moz-transform: translate(-10%, -20%);
    -ms-transform: translate(-10%, -20%);
    -o-transform: translate(-10%, -20%);
}

.contact h3 {
    color: var(--text-hover);
    font-family: "Source Sans Pro", sans-serif;
    font-size: 18px;
    line-height: 23.4px;
    margin: 10px 0;
}

.contact .form-control {
    --bs-border-radius: 0;
    margin-left: 1px;
}

.contact .form-control:focus {
    box-shadow: 0 0 0 .15rem rgba(31, 31, 31, 0.866);
}

/* End of Contact */