/* Start of General CSS */

@font-face {
    font-family: navbar;
    src: url(./../fonts/Poppins/Poppins-Regular.ttf);
}

@font-face {
    font-family: "Source Sans Pro";
    src: url(./../fonts/Source_Code_Pro/static/SourceCodePro-Regular.ttf);
}


/* Start of Navbar */
.navbar {
    --bs-navbar-toggler-border-color: transparent;
    --bs-navbar-toggler-focus-width: 0;
    --bs-navbar-brand-padding-y: 0;
    --bs-navbar-padding-y: 0;
    --bs-navbar-toggler-padding-y: 0;
    --bs-navbar-active-color: #787878;
    --bs-navbar-hover-color: #787878;
    --bs-navbar-color: #393939;
    border-bottom: #dee2e6 solid 1px;
}

.navbar ul li a {
    font-family: navbar, sans-serif;
    font-size: 13px;
    line-height: 20px;
    padding: 15px 7px;
    font-weight: 600;
}

.navBtn:target {
    background-color: red;
}

.navbar-nav {
    border-top: #dee2e6 solid 1px;
}

nav .logo {
    height: 50px;
    display: table;
}

nav .logo img {
    max-height: 40px;
    display: block;
}

.navbar .logo>a {
    display: table-cell;
    vertical-align: middle;
}

.navbar-toggler {
    --bs-navbar-toggler-border-radius: 0;
    border-left: solid #dee2e6 1px;
    --bs-navbar-toggler-padding-y: 0.9rem;
}

.nav-social-container {
    display: none;
}

.nav-social {
    --bs-nav-link-padding-x: 0;
    --bs-nav-link-padding-y: 20px;
    display: flex;
    flex-direction: row;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.nav-social a {
    color: #393939;
    transition: color 0.5s ease-in-out;
    -webkit-transition: color 0.5s ease-in-out;
    -moz-transition: color 0.5s ease-in-out;
    -ms-transition: color 0.5s ease-in-out;
    -o-transition: color 0.5s ease-in-out;
}

.nav-social a:hover {
    color: #787878;
}

.nav-social a .nav-link {
    font-size: 0.8rem;
}

.hamberger {
    position: relative;
    background-color: transparent;
    transition: transform 0.5s ease;
    -webkit-transition: transform 0.5s ease;
    -moz-transition: transform 0.5s ease;
    -ms-transition: transform 0.5s ease;
    -o-transition: transform 0.5s ease;
}

.hamberger-box {
    height: 24px;
    position: relative;
    width: 22px;
}

.hamberger-inner {
    background-color: #1f1f1f;
    width: 22px;
    height: 2px;
    border-radius: 4px;
    position: absolute;
    top: 50%;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}

.hamberger-inner::before {
    content: "";
    background-color: #1f1f1f;
    display: block;
    height: 2px;
    width: 22px;
    border-radius: 4px;
    position: absolute;
    top: -6px;
    transition: transform 0.5s ease, top 0.5s ease, bottom 0.5s ease;
    -webkit-transition: transform 0.5s ease, top 0.5s ease, bottom 0.5s ease;
    -moz-transition: transform 0.5s ease, top 0.5s ease, bottom 0.5s ease;
    -ms-transition: transform 0.5s ease, top 0.5s ease, bottom 0.5s ease;
    -o-transition: transform 0.5s ease, top 0.5s ease, bottom 0.5s ease;
}

.hamberger-inner::after {
    content: "";
    background-color: #1f1f1f;
    display: block;
    border-radius: 4px;
    width: 22px;
    height: 2px;
    position: absolute;
    bottom: -6px;
    transition: transform 0.5s ease, top 0.5s ease, bottom 0.5s ease;
    -webkit-transition: transform 0.5s ease, top 0.5s ease, bottom 0.5s ease;
    -moz-transition: transform 0.5s ease, top 0.5s ease, bottom 0.5s ease;
    -ms-transition: transform 0.5s ease, top 0.5s ease, bottom 0.5s ease;
    -o-transition: transform 0.5s ease, top 0.5s ease, bottom 0.5s ease;
}

.hamberger.active {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}

.hamberger.active .hamberger-inner {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}

.hamberger.active .hamberger-inner::before {
    background-color: transparent;
    top: 0;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
}

.hamberger.active .hamberger-inner::after {
    bottom: 0;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
}

/* End of Navbar */

/* Start of Header */
.header-first {
    background-image: url(./../images/bg-image-28.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.header-second {
    background-image: url(./../images/bg-image-29.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.header .inner-header {
    font-family: navbar, sans-serif;
    /* padding-top: 100px; */
    color: #fff;
    width: 100%;
    height: 100%;
}

.header .header-buttons {
    flex-direction: row;
}

.header h1 {
    font-size: 62px;
    line-height: 77.5px;
    letter-spacing: -3px;
    margin: 20px 0 10px;
    font-weight: 700;
}

.header p {
    font-size: 16px;
    line-height: 20.8px;
    margin: 10px 0;
    font-weight: 400;
}

a.btn-custom {
    --bs-btn-padding-x: 30px;
    --bs-btn-padding-y: 0;
    --bs-btn-font-family: navbar, sans-serif;
    --bs-btn-font-size: 14px;
    --bs-btn-font-weight: 600;
    --bs-btn-line-height: 50px;
    --bs-btn-color: #fff;
    --bs-btn-bg: #00d5ee;
    letter-spacing: -0.56px;
    transition: transform .15s ease-in-out;
    -webkit-transition: transform .15s ease-in-out;
    -moz-transition: transform .15s ease-in-out;
    -ms-transition: transform .15s ease-in-out;
    -o-transition: transform .15s ease-in-out;
    --bs-btn-hover-color: #fff;
}

.btn-custom:hover {
    background-color: #00d5ee;
    transform: translateY(-3px);
    -webkit-transform: translateY(-3px);
    -moz-transform: translateY(-3px);
    -ms-transform: translateY(-3px);
    -o-transform: translateY(-3px);
}

.header a.btn-custom2 {
    --bs-btn-border-color: #fff;
    --bs-btn-color: #fff;
    --bs-btn-bg: transparent;
    letter-spacing: -0.56px;
    transition: all .15s ease-in-out;
    -webkit-transition: all .15s ease-in-out;
    -moz-transition: all .15s ease-in-out;
    -ms-transition: all .15s ease-in-out;
    -o-transition: all .15s ease-in-out;
}

.btn-custom2:hover {
    background-color: #fff;
    color: #000;
    transform: translateY(-3px);
    -webkit-transform: translateY(-3px);
    -moz-transform: translateY(-3px);
    -ms-transform: translateY(-3px);
    -o-transform: translateY(-3px);
}

/* End of Header */

/* Start of About */
.about {
    color: #787878;
    /* font-family: "Source Sans Pro", sans-serif; */
    font-size: 16px;
    line-height: 24px;
    padding: 110px 0;
    font-weight: 400;
    border-bottom: #dedede 1px solid;
}

.about h2 {
    color: #1f1f1f;
    font-family: navbar;
    font-size: 13px;
    line-height: 16.9px;
    letter-spacing: 0.65px;
    margin: 0 0 10px;
    font-weight: 500;
    text-transform: uppercase;
}

.about p {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 16px;
    line-height: 30px;
    margin: 20px 0;
    font-weight: 100;
}

.about p span {
    color: #00C3DA;
}

.about p span::after {
    content: "|";
    color: #787878;
}

.about a.btn-about {
    letter-spacing: 0.55px;
    text-transform: uppercase;
    --bs-btn-padding-x: 30px;
    --bs-btn-padding-y: 0;
    --bs-btn-font-family: navbar, sans-serif;
    --bs-btn-font-size: 11px;
    --bs-btn-font-weight: 500;
    --bs-btn-line-height: 48px;
    --bs-btn-color: #1f1f1f;
    --bs-btn-bg: #fff;
    --bs-btn-border-width: 1px;
    --bs-btn-border-color: #dedede;
    --bs-btn-border-radius: 0;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #1f1f1f;
    --bs-btn-hover-border-color: #1f1f1f;
}

/* End of About */

/* Start of Team */
.team {
    color: #787878;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 16px;
    line-height: 24px;
    padding: 110px 0;
    font-weight: 400;
}

.team h2 {
    color: #1f1f1f;
    font-family: navbar, sans-serif;
    font-size: 32px;
    line-height: 41.6px;
    letter-spacing: -1px;
    margin: 20px 0 10px;
    font-weight: 700;
}

.team h3 {
    font-size: 18px;
    line-height: 23.4px;
    margin: 10px 0;
    font-weight: 400;
}

.nav-social-team {
    --bs-nav-link-padding-x: 0;
    --bs-nav-link-padding-y: 20px;
    display: flex;
    flex-direction: row;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.nav-social-team a {
    font-size: 13px;
    color: #fff;
    text-shadow: 0;
    transition: text-shadow 0.5s ease-in-out;
    -webkit-transition: text-shadow 0.5s ease-in-out;
    -moz-transition: text-shadow 0.5s ease-in-out;
    -ms-transition: text-shadow 0.5s ease-in-out;
    -o-transition: text-shadow 0.5s ease-in-out;
}

.nav-social-team a:hover {
    color: #fff;
    text-shadow: 1px 1px 5px #fff;
}

.team .team-bottom h4 {
    font-family: navbar, sans-serif;
    font-size: 13px;
    line-height: 16.9px;
    letter-spacing: 0.52px;
    font-weight: 600;
    text-transform: uppercase;
}

.team .team-bottom h5 {
    font-family: navbar, sans-serif;
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
}

.team .team-overlay {
    background-color: #00d6eee1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    opacity: 0;
    transition: opacity 0.7s ease;
    -webkit-transition: opacity 0.7s ease;
    -moz-transition: opacity 0.7s ease;
    -ms-transition: opacity 0.7s ease;
    -o-transition: opacity 0.7s ease;
}

.team .image-card:hover .team-overlay {
    opacity: 1;
}

/* End of Team */

/* Start of Services */
.service {
    /* background-color: #1f1f1f; */
    background-color: #626262;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    padding-top: 110px;
    padding-bottom: 110px;
}

.service span {
    display: block;
    font-family: navbar, sans-serif;
    font-size: 13px;
    line-height: 16.9px;
    letter-spacing: 1.3px;
    /* margin: 0 0 10px; */
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 26px;
    margin-bottom: 26px;
    padding: 0 10px;
}

.service h2 {
    font-family: navbar, sans-serif;
    font-size: 32px;
    line-height: 41.6px;
    letter-spacing: -1px;
    margin: 20px 0 10px;
    font-weight: 700;
    text-transform: uppercase;
}

.service p {
    font-size: 14px;
    line-height: 24px;
    margin: 20px 0 30px;
    font-weight: 400;
}

.service li {
    font-size: 16px;
    line-height: 24px;
    padding: 6px 0;
    font-weight: 400;
}

.service ul li::before {
    content: "\f058";
    font-family: 'Font Awesome 6 Free';
    font-style: normal;
    font-weight: 100;
    margin-right: 10px;
}

/* End of Services */

/* Start of Pricing */
.pricing {
    color: #787878;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 16px;
    line-height: 24px;
    padding: 110px 0;
    font-weight: 400;
}

.pricing h2 {
    color: #1f1f1f;
    font-family: navbar, sans-serif;
    font-size: 32px;
    line-height: 41.6px;
    letter-spacing: -1px;
    margin: 20px 0 10px;
    font-weight: 900;
    text-align: center;
}

.pricing h3 {
    font-size: 18px;
    line-height: 23.4px;
    margin: 10px 0;
    font-weight: 400;
    text-align: center;
}

.pricing .card {
    --bs-card-border-color: transparent;
    --bs-card-border-radius: 0;
    --bs-card-bg: white;
    background-color: white;
    max-width: 400px;
    margin: 50px auto 25px;
    padding: 25px 15px;
    background-color: #fff;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.115);
}

.pricing .card h4 {
    color: #1f1f1f;
    font-family: navbar;
    font-size: 13px;
    line-height: 16.9px;
    font-weight: 400;
    position: relative;
}

.pricing .badge-best {
    --bs-badge-font-size: 9px;
    --bs-badge-font-weight: 700;
    --bs-badge-padding-y: 5px;
    --bs-badge-padding-x: 10px;
    font-family: navbar, sans-serif;
    font-weight: 500;
    line-height: 13.5px;
    vertical-align: baseline;
    background-color: #00C3DA;
    position: absolute;
    top: 30px;
    right: 30px;
}

.pricing .card p {
    color: #1f1f1f;
    font-family: navbar;
    font-size: 55px;
    line-height: 71.5px;
    letter-spacing: -3px;
    font-weight: 500;
    border-bottom: #dee2e6 1px solid;
    padding: 15px 0;
}

.pricing .card .pricing-best p {
    color: #00C3DA;
}

.pricing .card p span {
    font-family: navbar;
    font-size: 18px;
    line-height: 23.4px;
    letter-spacing: -3px;
    vertical-align: top;
    font-weight: 400;
}

.pricing .card ul {
    color: #787878;
    padding-top: 15px;
}

.pricing .card .btn-pricing {
    --bs-btn-padding-x: 13px;
    font-size: 12px;
}

/* End of Pricing */