/* sm */
@media (min-width: 576px) {}

/* md */
@media (min-width: 768px) {
}

/* lg */
@media (min-width: 992px) {
    .navbar-nav {
        border-top: #dee2e6 solid 0px;
    }

    .navbar {
        background-color: transparent;
        box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
        transition: all 0.3s ease;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        --bs-navbar-color: #fff;
    }

    .navbar .nav-social a:hover {
        color: #787878;
    }

    .pricing .col-12:nth-child(3) {
        transform: scale(1.08);
        -webkit-transform: scale(1.08);
        -moz-transform: scale(1.08);
        -ms-transform: scale(1.08);
        -o-transform: scale(1.08);
    }

    .service .service-header h2[data-bigletter]::before {
        z-index: 0;
        content: attr(data-bigletter);
        font-size: 60px;
        font-weight: 600;
        opacity: 0.1;
        position: absolute;
        left: 0;
        transform: translate(-5%, -20%);
        -webkit-transform: translate(-5%, -20%);
        -moz-transform: translate(-5%, -20%);
        -ms-transform: translate(-5%, -20%);
        -o-transform: translate(-5%, -20%);
    }

    iframe {
        height: 700px;
    }
}


/* xl */
@media (min-width: 1200px) {}

/* xxl */
@media (min-width: 1400px) {}